.container {
    background-color: aqua;
}
.nav-row {
    margin-bottom: 100px;
}

.button-background {
    background-color: white;
}
.button-links {
    text-align: center;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(255, 0, 0); /* Green */
    color: white;
}

.width-data {
    width: 1200px !important;
}