<!-- <div class="container">
  <div class="nav-row">

  </div>
  <div class="button-links">
    <span class="col-md-2"></span>
    <div class="col-md-8 button-background">
      <button class="button" (click)="questions()">QUESTIONS</button>
      <button class="button" (click)="responses()">RESPONSES</button>
    </div>
    <span class="col-md-2"></span>
  </div>
</div>

<div class="reactive-forms">
  <span class="col-md-2"></span> -->
  <!-- responses element will come here -->
  <div class="col-md-8 width-data">
    <app-questions></app-questions>
  </div>
  <!-- <span class="col-md-2"></span>
</div> -->