<div class="topleft">
	<button type="submit" name="back" value="Back" (click)="onBack()"class="back">Back</button>
</div>

<div class="three-box-container container-fluid">
	<div class="row">
		<div class="col-md-3 topbox">
			<div style="text-align: center; color: black; margin-top: 10px;">
				<p>Form Factor 1</p>
			</div>
			<div style="text-align: center; color: black; font-size: 60px; margin-top: -15px;">
				80%
			</div>
			<div class="row">
				<div style="color: black; margin-left: 90px; margin-top: -15px;">
					N/A
				</div>
				<div style="color: black; margin-left: 220px; margin-top: -20px;">
					3/80
				</div>
			</div>
			<div class="row">
				<div style="color: black; margin-left: 60px;">
					Average Time
				</div>
				<div style="color: black; margin-left: 190px; margin-top: -20px;">
					Surveys Taken
				</div>
			</div>
		</div>

		<div class="col-md-3 topbox">
			<div style="text-align: center; color: black; margin-top: 10px;">
				<p>Form Factor 2</p>
			</div>
			<div style="text-align: center; color: black; font-size: 60px; margin-top: -15px;">
				80%
			</div>
			<div class="row">
				<div style="color: black; margin-left: 90px; margin-top: -15px;">
					N/A
				</div>
				<div style="color: black; margin-left: 220px; margin-top: -20px;">
					3/80
				</div>
			</div>
			<div class="row">
				<div style="color: black; margin-left: 60px;">
					Average Time
				</div>
				<div style="color: black; margin-left: 190px; margin-top: -20px;">
					Surveys Taken
				</div>
			</div>
		</div>
		<div class="col-md-3 topbox">
			<div style="text-align: center; color: black; margin-top: 10px;">
				<p>Form Factor 2</p>
			</div>
			<div style="text-align: center; color: black; font-size: 60px; margin-top: -15px;">
				80%
			</div>
			<div class="row">
				<div style="color: black; margin-left: 90px; margin-top: -15px;">
					N/A
				</div>
				<div style="color: black; margin-left: 220px; margin-top: -20px;">
					3/80
				</div>
			</div>
			<div class="row">
				<div style="color: black; margin-left: 60px;">
					Average Time
				</div>
				<div style="color: black; margin-left: 190px; margin-top: -20px;">
					Surveys Taken
				</div>
			</div>
		</div>

	</div>
</div>
<div class="fa fa-plus" style="margin-left: 770px; font-size: 40px; margin-top: 5px;">

</div>
<div class="container-fluid" style="margin-left: 100px; margin-top: 5px; margin-right: 125px;">
	<div class="row">
		<div class="col-sm-3 " style="background-color: white; height: 440px;">

			<h3 style="padding-left: 6%;">Recommended Surveys</h3>
			<h4 style="    padding-left: 35%;
    background-color: green;
    height: 6%;
    padding-top: 2%;">Product</h4>
			<h5>Survey:BingaBong</h5>
			<h5>Survey:TingLing</h5>

			<br>
			<h4 style="    padding-left: 35%;
    background-color: green;
    height: 6%;
    padding-top: 2%;">Company</h4>
			<h5>Survey:</h5>
			<h5>Survey:TingLing</h5>

			<br>
			<h4 style="    padding-left: 35%;
    background-color: green;
    height: 6%;
    padding-top: 2%;">Product</h4>
			<h5>Survey:BingaBong</h5>
			<h5>Survey:TingLing</h5>
			<p></p>

		</div>

		<div class="col-sm-9 " style="background-color: white; height: 440px;">

			<table>
				<tr>

					<th>Overall Index</th>
					<th>Form Factor1</th>
					<th>Form Factor1</th>
					<th>Form Factor1</th>
					<th>Survey Attemped</th>
					<th>Survey Completed</th>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>
				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>

				<tr>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
					<td align="center">10</td>
				</tr>




			</table>

		</div>
	</div>
</div>