<div class="body">
  <div class="column " id="blog ">
    <div class="card ">
      <h3 style="padding-left: 6%; ">Recommended Surveys</h3>
      <h4 style=" padding-left: 35%; background-color: green; height: 6%; padding-top: 2%; ">Product</h4>
      <h5>Survey:BingaBong</h5>
      <h5>Survey:TingLing</h5>

      <br>
      <h4 style=" padding-left: 35%; background-color: green; height: 6%; padding-top: 2%; ">Company</h4>
      <h5>Survey:</h5>
      <h5>Survey:TingLing</h5>

      <br>
      <h4 style=" padding-left: 35%; background-color: green; height: 6%; padding-top: 2%; ">Product</h4>
      <h5>Survey:BingaBong</h5>
      <h5>Survey:TingLing</h5>
      <p></p>
    </div>
  </div>


  <div class="leftcolumn " id="blog ">
    <div class="card middle_section">
      <div class="column ">
        <h3 style="padding: 19%;border-radius: 50%;background-color: grey;width: 64%;height: 34%;float: left;; ">50%</h3>

        <h5>Survey:BingaBong</h5>
        <div style="background-color: grey ; height: 10%;width: 94%; ">Survey:TingLing</div>
        <div style="background-color: grey ; height: 10%;width: 94%; margin-top:2% ">Survey:TingLing</div>
      </div>
      <div class="column ">
        <h3 style="padding: 19%;border-radius: 50%;background-color: grey;width: 64%;height: 34%;float: left;; ">50%</h3>

        <h5>Survey:BingaBong</h5>
        <div style="background-color: grey ; height: 10%;width: 94%; ">Survey:TingLing</div>
        <div style="background-color: grey ; height: 10%;width: 94%; margin-top:2% ">Survey:TingLing</div>
      </div>

      <div class="column ">
        <h3 style="padding: 19%;border-radius: 50%;background-color: grey;width: 64%;height: 34%;float: left;; ">50%</h3>

        <h5>Survey:BingaBong</h5>
        <div style="background-color: grey ; height: 10%;width: 94%; ">Survey:TingLing</div>
        <div style="background-color: grey ; height: 10%;width: 94%; margin-top:2% ">Survey:TingLing</div>
      </div>

      <div class="column ">
        <h3 style="padding: 19%;border-radius: 50%;background-color: grey;width: 64%;height: 34%;float: left;; ">50%</h3>

        <h5>Survey:BingaBong</h5>
        <div style="background-color: grey ; height: 10%;width: 94%; ">Survey:TingLing</div>
        <div style="background-color: grey ; height: 10%;width: 94%; margin-top:2% ">Survey:TingLing</div>
      </div>



    </div>
  </div>
  <div class="leftcolumn " id="blog ">
    <div class="card " style="padding:6% ; height: 600; ">
      <h2>Subscribed Surveys</h2>
      <div style="background-color:green; width: 30%;height: 7%;padding: 1%;padding-left: 10%; ">Product</div>
      <h5>survey:bingabong</h5>
      <div style="background-color:green; width: 30%;height: 7%;padding: 1%;padding-left: 10%; ">Product</div>
      <h5>survey:bingabong</h5>
    </div>
  </div>

  <div class="rightcolumn ">
    <div class="card " id="about ">
      <h3>Index Week Over Week:You vs Avg</h3>
      <div class="fakeimg " style=" background-size:100%; "></div>

      <div style="float:right; ">
        <a [routerLink]="['/deatiledIndex']">Detailed Index</a>
      </div>
    </div>
    <div class="card ">
      <h3>Popular Survey</h3>
      <div class="fakeimg " style=" background-size:100%; text-align:center;color:white "> Love of nature</div>
      <br>
      <div class="fakeimg " style=" background-size:100%; color:black; text-align:center; ">Let's Go Sporty</div>
      <br>
      <div class="fakeimg " style=" background-size:100%; color:white; text-align:center; ">Movie Time</div>
    </div>

  </div>
</div>